{% extends 'crm/base.html' %}

{% block title %}
  Advertising campaigns
{% endblock %}

{% block body %}
  <h1>Advertising campaigns</h1>

  <ul>
    {% for campaign in object_list %}
      <li><a href="{% url 'crm:campaign_details' pk=campaign.pk %}">{{ campaign.name }}</a></li>
      <a href="{% url 'crm:campaign_delete' pk=campaign.pk %}">Delete campaign</a>
    {% empty %}
      <li>No advertising campaigns yet</li>
    {% endfor %}
  </ul>
  <br>
  <div>
    <a href="{% url 'crm:create_campaign' %}">Create a new advertising campaign</a>
  </div>
{% endblock %}
